# cPanel & FTP Configuration Template for NovaByte Host
CPANEL_PASSWORD=your_cpanel_password_here
PROXY_SECRET=your_secure_proxy_secret_here
PROXY_URL=https://novabyte-labs.com/deploy-proxy.php
CPANEL_USER=novabyte
MAIN_DOMAIN=novabyte-labs.com
FTP_HOST=ftp.novabyte-labs.com
